@font-face {
  font-family: "Noto Sans";
  src: local(Noto Sans Regular),
  url("#{$noto-font-path}NotoSans-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: local(Noto Sans Bold),
  url("#{$noto-font-path}NotoSans-Bold.ttf") format("ttf");
  font-weight: 700;
}
