#banner{
  position: relative;
  /*background-image: url("http://via.placeholder.com/1920x800");*/
  width: 100%;
  height: 85vh;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  @media #{$M992}{
    height: 65vh;//
  }
  .title{
    h1{
      color: $White;
      position: absolute;
      top: 50vh;
      padding: 0;
      padding-left: 2rem ;
      max-width: 40vw;
      font-size: 4rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 4rem;
      letter-spacing: .2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      @media #{$M992}{
        top: 40vh;
        padding: 0;
        max-width: 100vw;
        font-size: 2rem;
        line-height: 2rem;
      }
    }//H1
  }//TITLE
  .arrow {
    position: absolute;
    top: 67vh;
    font-size: 4rem;
    left: 50%;
    a{
      color: $White;
    }//A
  }//ARROW
  .form-internas{
    position: absolute;
    width: 30%;
    height: auto;
    background: $Blue1;
    right: 5rem;
    padding:0;
    padding-bottom: 1rem;
    .tabs-name{
      .tabs{
        .tab{
          a{
            background: $Blue3;
            color: $White;
            text-transform: none;
            &.active{
              background: $Blue1;
              font-weight: bold;
            }//A-ACTIVE
          }//A
        }//TAB
        .indicator{
          background: $Blue1;
        }
      }//TABS
    }//TABSNAME
  .tabs-content{
    *, *:before, *:after {
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
      box-sizing: border-box !important;
    }
    color: $White;
    padding: 15px;
    form{
      .input-field{
        padding: 0;
        margin-top: 0;
        input:not([type]),
        input[type=text]:not(.browser-default),
        input[type=password]:not(.browser-default),
        input[type=email]:not(.browser-default),
        input[type=url]:not(.browser-default),
        input[type=time]:not(.browser-default),
        input[type=date]:not(.browser-default),
        input[type=datetime]:not(.browser-default),
        input[type=datetime-local]:not(.browser-default),
        input[type=tel]:not(.browser-default),
        input[type=number]:not(.browser-default),
        input[type=search]:not(.browser-default),
        textarea.materialize-textarea {
          background-color: #BAEBF2;
          border: 1px solid #BAEBF2;
          /* border-bottom: 1px solid #9e9e9e; */
          border-radius: 0;
          outline: none;
          height: 3rem;
          width: 100%;
          font-size: 1rem;
          margin: 0px 0 5px 0;
          padding: 0;
          box-shadow: none;
          box-sizing: content-box;
          transition: all 0.3s;
          padding: 0 20px;
          color: $Blue3;
        }//IMPUTS
        input[type=submit]:not(.browser-default){
          background: transparent;
          border: solid 2px #fff;
          padding: 5px 20px;
          display: block;
          margin: 0 auto;
          font-size: 1.2rem;
        }
      }//IMPUT-FIELD
    }//FORM
    .form-all{
      p{
        margin: 10px 0;
        line-height: 15px;
      }//P
      .check{
        label{
          color: $White;
          margin: 10px 0 0 0;
        }
      }
      hr{
        color: #01BFD7;
        background-color: #01BFD7;
        height: 2px;
        border: 0;
      }
    }//SOLICITAR
  }//TABS-CONTENT
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $Blue3;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $Blue3;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $Blue3;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $Blue3;
    }
  }//FORM-INTERNAS
}//BANNER
#breadcrumbs{
  nav{
    margin-top: -20px;
    background: $White;
    height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    &:after {
      content: '';
      display: block;
      width: 5vw;
      height: 2px;
      background: $RedViolet;
    }
    .nav-wrapper{
      div{
        a{
          &:first-child{
            i{
              height: 3rem;
              line-height: 3rem;
              color: $Bread;
              font-size: 1.2rem;
            }
          }
          &:nth-of-type(2){
            color: $Bread;
            &::before{
              color: $Bread;
            }
          }
          &:last-child{
            span{
              color: $RedViolet !important;
              font-weight: bold !important;
            }
            &::before{
              color: $RedViolet !important;
            }
          }
        }
      }
    }
  }
}

#content-internas{
  padding: 0 65px 0 35px;
  @media #{$M992}{
    padding: 0 65px 0 20px;
  }
}
