#blog{
  .news-container{
    margin-bottom: 2rem;
    .news-image{
      position: relative;
      .social-network-blog{
        position: absolute;
        text-align: center;
        z-index: 0;
        top: 10%;
        right: 0;
        ul{
          li{
            background: $RrssBackground;
            margin-top: 2px;
            padding: 5px;
            margin-bottom: auto;
            text-indent: 0;
            &:hover{
              background: $Blue1;
            }
            &:before{
              display: none;
            }
            a{
              color: $White !important;
            }
          }
        }
      }
      img{
        width: 575px;
        max-width: 100%;
        text-align: center;
        @media #{$M992}{
          min-width: 100%;
        }
      }
    }
    .news-title{
      padding: 10px 20px;
      a{
        min-height: 50px;
        font-size: 1.5rem;
        color: $RedViolet;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 25px;
        max-height: 56px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .date{
        background: $DateTime;
        color: $White;
        text-align: center;
        padding: 2px 20px;
        margin: 10px 0;
        border-radius: 20px;
        display: inline-block;
      }
    }
    .news-content{
      padding: 0 20px;
      p{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        max-height: 60px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .news-btn{
      text-align: right;
      padding: 20px;
      a{
        font-size: 1.5rem;
        color: $RedViolet;
      }
    }
  }
}