#buscador{
  .buscador{
    padding: 0 !important;
    border-bottom: solid 1px $BorderBottom;
    .content-text{
      p{
        text-align: justify;
      }
    }
    .content-btn{
      min-height: 230px;
      text-align: center;
      padding-top: 90px;
      a{
        background: $Blue1;
        color: $White !important;
      }
    }
  }
}