#content-internas{
  .allcontent{
    color: $GeneralText;
    a{
      color: $RedViolet !important;
    }
    blockquote {
      border-left: 5px solid $RedViolet !important;
    }
    .single-post-date{
      background: $DateTime;
      color: $White;
      text-align: center;
      padding: 2px 20px;
      margin: 0;
      border-radius: 20px;
      display: inline-block;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        padding-left: 2em;
        margin-bottom: 15px;
        text-indent: -1.3em;
        &:before{
          content: '';
          margin-right: 10px;
          height: 17px;
          width: 19px;
          display: inline-block;
          background-image: url(../../assets/images/list-icon.png);
          vertical-align: middle;
        }
      }
    }
    h3{
      color: $RedViolet;
      font-size: 2rem;
      font-weight: bold;
    }
    h2{
      font-size: 1.5rem;
      font-weight: bold;
      color: $GeneralText;
      letter-spacing: 3px;
      &:after{
        content: '';
        display: block;
        width: 5vw;
        height: 2px;
        background: $RedViolet;
      }
    }
    .collapsible-accordion{
      border-top: 0px solid #ddd;
      border-right: 0px solid #ddd;
      border-left: 0px solid #ddd;
      li{
        padding-left: 0;
        margin-bottom: 0;
        text-indent: 0;
        .collapsible-header{
          position: relative;
          border-bottom: 1px solid $RedViolet;
          margin: 0 20px;
          span{
            position: absolute;
            top: .5rem;
            left: -1.5rem;
            font-size: 2.5rem;
            span{
              position: relative;
            }
          }
          i{
            position: absolute;
            right: 0;
            color: $RedViolet;
            -moz-transition: -moz-transform ease 0.6s;
            -webkit-transition: -webkit-transform ease 0.6s;
            -o-transition: -o-transform ease 0.6s;
            -ms-transition: -ms-transform ease 0.6s;
            transition: transform ease 0.6s;
          }
          &.active{
            i{
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
          p{
            margin: 0;
            font-size: 1.5rem;
            letter-spacing: 2px;//
          }
        }
        .collapsible-body{
          border-bottom: 0;
        }
        &:before{
          display: none;
        }
      }
    }
    .tabs{
      li{
        padding-left: 0;
        margin-bottom: 0;
        text-indent: 0;
        &:before{
          display: none;
        }
        &.indicator{
          background-color: $RedViolet;
        }
      }
    }
  }
}