.sidebar{
  margin-top: -4.5rem;
  @media #{$M992}{
    margin-top: 0;
  }
  .sidebar-news{
    background-color: $SIdebar1;
    padding: 20px !important;
    .row{
      border-bottom: solid 1px $BorderBottom;
      padding-bottom: 10px;
      .col{
        &.noticia-title{
          h3{
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            text-align: left;
            color: $Blue1;
            text-transform: uppercase;
            font-weight: bold;
          }//H3
        }//NOTICIATITLE
        &.noticia-more{
          min-height: 24px;
          position: relative;
          a{
            text-align: left;
            margin: 0;
            position: absolute;
            bottom: 0;
            color: $Blue1;
          }//A
        }//NOTICIAMORE
      }//COL
    }//ROW
    .slider-news{
      .owl-carousel {
        .owl-item {
        }
        .owl-dots {
          text-align: center;
          .owl-dot {
            span {
              background: none repeat scroll 0 0 transparent;
              border: solid 2px $Dots;
              border-radius: 50%;
              display: block;
              height: 10px;
              margin: 0 3px;
              width: 10px;
            }
            &.active {
              span {
                background: none repeat scroll 0 0 transparent;
                border: solid 2px $RedViolet;
                border-radius: 50%;
                display: block;
                height: 10px;
                margin: 0 3px;
                width: 10px;
              }
            }
          }
        }
        .post-image{
          img{
            border: solid 3px $White;
          }//IMG
        }//POSTIMAGE
        .post-title{
          text-align: left;
          a{
            font-weight: bold;
            color: #A9A9A9;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            max-height: 32px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          p{
            color: $GeneralText;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 18px;
            max-height: 50px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-weight: normal;
            margin-top: 5px;
          }
        }
        .post-date{
          p{
            background: $DateTime;
            color: $White;
            text-align: center;
            padding: 2px;
            margin: 0;
            border-radius: 20px;
          }
        }
        .post-more{
          a{
            text-align: right;
            color: $RedViolet;
            font-size: normal;
          }
        }
      }
    }//SLIDERNEWS
  }
  .sidebar-servicios{
    background: $Blue1;
    padding: 20px !important;
    h3{
      margin: 0;
      padding: 0;
      font-size: 1.4rem;
      text-align: left;
      color: $White;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    ul{
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      @media #{$M992}{
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }
      li{
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);
        min-height: 45px;
        line-height: 15px;
        padding: 10px 0;
        padding-left: 10px;
        position: relative;
        a{
          color: $White;
          font-size: .85rem;
          &:before{
            content: "\e945";
            color: #595E61;
            display: inline-block;
            position: absolute;
            top: 35%;
            left: -5px;
            font-family: 'HematoIcons' !important;
            font-size: .5rem;
          }
        }
        &:nth-of-type(4){
          border: none;
          @media #{$M992}{
            border-bottom: solid 1px rgba(255, 255, 255, 0.3);
          }
        }
        &:last-child{
          border: none;
          @media #{$M992}{
            border-bottom: solid 1px rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}//SIDEBAR