footer{
  background-image: url(../images/footer.jpg);
  min-height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .row{
    background: $FooterBG1;
    min-height: 260px;
    margin-bottom: 0;
    color: $White;
    padding: 0 20px;
    .vertical-menu{
      border-left: solid 1px $Blue1;
      margin: 25px 0 0;
      padding: 0 25px !important;
      min-height: 225px !important;
      h2{
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: $Blue1;
      }//H2
     ul{
       li{
         a{
           color: #fff;
           line-height: 20px;
           font-size: .9rem;
         }//A
       }//LI
     }//UL
    }//VERTICAL MENU
    .sedes{
      border-left: solid 1px $Blue1;
      margin: 25px 0 0;
      padding: 0 25px !important;
      min-height: 225px !important;
      h2{
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: $Blue1;
      }//H2
      .owl-carousel{
        .owl-item{
          img {
            width: auto !important;
            display: inline-block !important;
          }
        }
        .owl-dots {
          text-align: center;
          position: absolute;
          right: 1rem;
          bottom: 10px;
          .owl-dot{
            span{
              background: none repeat scroll 0 0 $Dots;
              border-radius: 50%;
              display: block;
              height: 10px;
              margin: 0 3px;
              width: 10px;
            }
            &.active{
              span{
                background: none repeat scroll 0 0 $DotsActive;
                border-radius: 50%;
                display: block;
                height: 10px;
                margin: 0 3px;
                width: 10px;
              }
            }
          }
        }
        .item{
          .col{
            margin: 1rem 0;
            text-align: left;
            @media #{$M992}{
              margin: 0;
              text-align: center;
            }
            &:nth-of-type(1){
              padding-left: 0;
              text-align: center;
              @media #{$M992}{
                margin-top: 1rem;
              }
              img{
                border: solid 3px $White;
              }
            }//CHILD_1
            &:nth-of-type(2){
              h3{
                font-size: 1.5rem;
                font-weight: 300;
                color: $Blue1;
                margin-bottom: 0;
              }//H3
              p{
                margin: 0;
              }//P
            }//CHILD_2
          }//COL
        }//ITEM
      }//OWLCAROUSEL
    }//SEDES
    .iconos{
      margin: 25px 0 0;
      padding: 0 !important;
      min-height: 225px !important;
      @media #{$M992}{
        padding: 0 !important;
      }
      h2{
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: $Blue1;
      }//H2
      .col{
        img{
          max-width: 100% !important;
        }
        &:nth-of-type(2), &:nth-of-type(3){
          min-height: 56px;
          margin-top: 10px;
        }//CHILD_2_3
        &:nth-of-type(2){
          border-right: solid 1px $Blue1;
          text-align: center;
          padding: 0;
          ul{
            li{
              display: inline-block;
              padding: 0;
              .custom-icon{
                border-radius: 50%;
                border: 1px solid #fff;
                color: #fff;
                display: inline-block;
                font-size: 0.9rem;
                padding: 10px;
              }
            }//LI
          }//UL
        }//CHILD_2
        &:nth-of-type(3){
          img{
            padding-top: 15px;
          }
        }
        &.terminos{
          margin-top: 1rem;
          a{
            color: $Blue1;
            border-bottom: solid 1px $Blue1;
            font-size: .9rem;
          }//A
        }//TERMINOS
      }//COL
    }//ICONOS
  }//ROW
  .copy{
    background: $FooterBG2;
    margin-bottom: 0;
    min-height: auto;
    p{
      text-align: center;
      color: $White;
    }//P
  }//COPY
}//FOOTER