header{
  .rrss-header{
    position: fixed;
    right: 1.3rem;
    text-align: center;
    z-index: 999;
    ul{
      li{
        background:$RrssBackground;
        margin-top:2px;
        padding:5px;
        a{
          color: $White;
        }
        &:hover{
          background: $Blue1;
        }
      }
    }
  }
}

/*   ###SUB MENU###   */
li.active.has-sub a i {
  color: #fff;
}

li.has-sub a:hover i {
  color: #fff;
}
#cssmenu {
  ul {
    margin-right: 1.9rem;
    li{
      a{
      }
    }
    li.has-sub {
      &:hover {
        >a {
          &:after {
            top: 0;
            bottom: 0;
          }
        }
        >ul {
          display: block;
        }
        >div {
          display: block;
        }
      }
      >a {
        &:hover {
        }
      }
      &.current-menu-parent{
        background: $RedViolet;
        i{
          color: $White;
        }
      }
    }
    li {
      >ul {
        display: none;
        width: auto;
        position: absolute;
        background: $Blue3Opacity;
        z-index: 999;
        max-width: 255px;
        li {
          width: 100%;
          padding: 0;
          &:hover{
            background: $RedViolet;
          }
          /*&:first-child{
            border-bottom: 1px solid #C3C1BB;
          }*/
          a {
            color: $White;
            font-family: "Roboto";
            font-weight: 400;
            margin: 0 15px;
            padding: 15px;
            height: auto;
            border-bottom: solid 1px rgba(0, 177, 205, 0.5);
            text-transform: none;
            strong{
              font-weight: bold;
            }
          }
        }
      }
      >div {
        display: none;
        width: auto;
        position: absolute;
        top: 38px;
        padding: 10px 0;
        background: #3f3f3f;
        border-radius: 0 0 5px 5px;
        z-index: 999;
      }
    }
    ul {
      a {
        &:hover {
        }
      }
    }
  }
  li {
  }
  a {
  }
  >ul {
    >li {
      >ul {
        >li {
          a {
            &:hover {
            }
          }
        }
      }
      >a {
        &:hover {
        }
        &:after {
        }
      }
      &:first-child {
        >a {
        }
      }
    }
    >li.has-sub {
      >a {
        &:before {
        }
        &:hover {
          &:before {
          }
        }
      }
      &:hover {
        >a {
          &:before {
          }
        }
      }
    }
  }
}

#slide-out-l{
  .current-menu-parent{
    background: $RedViolet;
  }
}

/* TOP MENU*/

.fix{
  top: 0;
}

.top-bar{

  nav {
    color: $Blue1;
    background-color: $White;
    width: 100%;
    height: 40px;
    line-height: 40px;

    #topbar{
      height: 40px;
      line-height: 40px;

      ul{

        li{

          &:first-child{
            border-right: solid 1px $Blue1;
          }

          &:hover{

            a{
              color: $White;
            }

          }

          a{
            color: $Blue1;
            height: auto;
            padding: 13px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            @media #{$M992}{
              padding: 13px 10px;
            }
          }
        }
      }
    }
  }
}

/*   ###BUSCADOR###   */

#search-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -20em;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 999999;
  background: rgba(0,0,0 ,0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#1a000000',GradientType=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;

  .wrapper {
    position: relative;
    margin: 5em auto 0 auto;
    padding: 0 1em;

    input {

      width: 50%;
      font-size: 1rem;
      margin-left: 25%;
      @media #{$M992}{
        width: 100%;
        font-size: 1rem;
        margin-left: 0%;
      }

      &:focus {
        outline: none;
      }

    }

    button {
      position: absolute;
      display: block;
      width: 2%;
      right: 25%;
      top: 0;
      background: transparent;
      border: none;
      color: #bfbfbf;
      font-size: 4em;
      -webkit-transition: 500ms ease all;
      -moz-transition: 500ms ease all;
      transition: 500ms ease all;

      &:hover {
        color: $White;
      }

      &:focus {
        outline: none;
      }

    }
  }
}
#search-menu.toggled {
  top: 0;
  opacity: 1;
  visibility: visible;
}

#search-icon {
  cursor: pointer;
  color: $Blue1;
  text-align: center;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
  height: 40px;
  margin-right: 4rem;
  margin-top: 0;
  line-height: 2.8rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(255,255,255,0.3);
  @media #{$M992}{
    margin-right: 0;
  }
  &:hover {
    color: $Blue4;
  }
}


#slide-out-l li.has-sub ul {
  display: none;
}
#slide-out-l li.has-sub ul.active {
  display: block;
  background: $Blue3;
}