@import "variables-icons";

@font-face {
  font-family: 'HematoIcons';
  src:  url('#{$icomoon-font-path}/HematoIcons.eot?t0xgrh');
  src:  url('#{$icomoon-font-path}/HematoIcons.eot?t0xgrh#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/HematoIcons.ttf?t0xgrh') format('truetype'),
  url('#{$icomoon-font-path}/HematoIcons.woff?t0xgrh') format('woff'),
  url('#{$icomoon-font-path}/HematoIcons.svg?t0xgrh#HematoIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hemato-"], [class*=" hemato-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HematoIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hemato-sarlaft {
  &:before {
    content: $hemato-sarlaft;
  }
}
.hemato-arrow-down {
  &:before {
    content: $hemato-arrow-down;
  }
}
.hemato-arrow-left {
  &:before {
    content: $hemato-arrow-left;
  }
}
.hemato-arrow-right {
  &:before {
    content: $hemato-arrow-right;
  }
}
.hemato-arrow-up {
  &:before {
    content: $hemato-arrow-up;
  }
}
.hemato-dauntupabajo {
  &:before {
    content: $hemato-dauntupabajo;
  }
}
.hemato-derechos-01 .path1 {
  &:before {
    content: $hemato-derechos-01-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-01 .path2 {
  &:before {
    content: $hemato-derechos-01-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-02 .path1 {
  &:before {
    content: $hemato-derechos-02-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-02 .path2 {
  &:before {
    content: $hemato-derechos-02-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-03 .path1 {
  &:before {
    content: $hemato-derechos-03-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-03 .path2 {
  &:before {
    content: $hemato-derechos-03-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.hemato-derechos-03 .path3 {
  &:before {
    content: $hemato-derechos-03-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.hemato-derechos-03 .path4 {
  &:before {
    content: $hemato-derechos-03-path4;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-04 .path1 {
  &:before {
    content: $hemato-derechos-04-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-04 .path2 {
  &:before {
    content: $hemato-derechos-04-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-05 .path1 {
  &:before {
    content: $hemato-derechos-05-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-05 .path2 {
  &:before {
    content: $hemato-derechos-05-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-06 .path1 {
  &:before {
    content: $hemato-derechos-06-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-06 .path2 {
  &:before {
    content: $hemato-derechos-06-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-07 {
  &:before {
    content: $hemato-derechos-07;
  }
}
.hemato-derechos-08 {
  &:before {
    content: $hemato-derechos-08;
  }
}
.hemato-derechos-09 .path1 {
  &:before {
    content: $hemato-derechos-09-path1;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-09 .path2 {
  &:before {
    content: $hemato-derechos-09-path2;
    margin-left: -1em;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-10 .path1 {
  &:before {
    content: $hemato-derechos-10-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-10 .path2 {
  &:before {
    content: $hemato-derechos-10-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-11 .path1 {
  &:before {
    content: $hemato-derechos-11-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-11 .path2 {
  &:before {
    content: $hemato-derechos-11-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-12 .path1 {
  &:before {
    content: $hemato-derechos-12-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-12 .path2 {
  &:before {
    content: $hemato-derechos-12-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-13 .path1 {
  &:before {
    content: $hemato-derechos-13-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-13 .path2 {
  &:before {
    content: $hemato-derechos-13-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-14 .path1 {
  &:before {
    content: $hemato-derechos-14-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-14 .path2 {
  &:before {
    content: $hemato-derechos-14-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-15 .path1 {
  &:before {
    content: $hemato-derechos-15-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-15 .path2 {
  &:before {
    content: $hemato-derechos-15-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-16 {
  &:before {
    content: $hemato-derechos-16;
  }
}
.hemato-derechos-17-copia .path1 {
  &:before {
    content: $hemato-derechos-17-copia-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-17-copia .path2 {
  &:before {
    content: $hemato-derechos-17-copia-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-17 .path1 {
  &:before {
    content: $hemato-derechos-17-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-17 .path2 {
  &:before {
    content: $hemato-derechos-17-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-18 .path1 {
  &:before {
    content: $hemato-derechos-18-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-18 .path2 {
  &:before {
    content: $hemato-derechos-18-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-derechos-19 .path1 {
  &:before {
    content: $hemato-derechos-19-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-derechos-19 .path2 {
  &:before {
    content: $hemato-derechos-19-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-hemato-icon .path1 {
  &:before {
    content: $hemato-hemato-icon-path1;
    color: rgb(191, 28, 127);
  }
}
.hemato-hemato-icon .path2 {
  &:before {
    content: $hemato-hemato-icon-path2;
    margin-left: -1em;
    color: rgb(36, 170, 197);
  }
}
.hemato-hemato-icon .path3 {
  &:before {
    content: $hemato-hemato-icon-path3;
    margin-left: -1em;
    color: rgb(191, 28, 127);
  }
}
.hemato-hemato-icon .path4 {
  &:before {
    content: $hemato-hemato-icon-path4;
    margin-left: -1em;
    color: rgb(36, 170, 197);
  }
}
.hemato-hemato-icon .path5 {
  &:before {
    content: $hemato-hemato-icon-path5;
    margin-left: -1em;
    color: rgb(191, 28, 127);
  }
}
.hemato-hemato-icon .path6 {
  &:before {
    content: $hemato-hemato-icon-path6;
    margin-left: -1em;
    color: rgb(36, 170, 197);
  }
}
.hemato-home {
  &:before {
    content: $hemato-home;
  }
}
.hemato-principios-02 .path1 {
  &:before {
    content: $hemato-principios-02-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-principios-02 .path2 {
  &:before {
    content: $hemato-principios-02-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-principios-03 .path1 {
  &:before {
    content: $hemato-principios-03-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-principios-03 .path2 {
  &:before {
    content: $hemato-principios-03-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-principios-04 .path1 {
  &:before {
    content: $hemato-principios-04-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-principios-04 .path2 {
  &:before {
    content: $hemato-principios-04-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-sobrecancer-01 .path1 {
  &:before {
    content: $hemato-sobrecancer-01-path1;
    color: rgb(95, 173, 200);
  }
}
.hemato-sobrecancer-01 .path2 {
  &:before {
    content: $hemato-sobrecancer-01-path2;
    margin-left: -1em;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-02 .path1 {
  &:before {
    content: $hemato-sobrecancer-02-path1;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-02 .path2 {
  &:before {
    content: $hemato-sobrecancer-02-path2;
    margin-left: -1em;
    color: rgb(95, 173, 200);
  }
}
.hemato-sobrecancer-03 .path1 {
  &:before {
    content: $hemato-sobrecancer-03-path1;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-03 .path2 {
  &:before {
    content: $hemato-sobrecancer-03-path2;
    margin-left: -1em;
    color: rgb(95, 173, 200);
  }
}
.hemato-sobrecancer-04 .path1 {
  &:before {
    content: $hemato-sobrecancer-04-path1;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-04 .path2 {
  &:before {
    content: $hemato-sobrecancer-04-path2;
    margin-left: -1em;
    color: rgb(95, 173, 200);
  }
}
.hemato-sobrecancer-05 .path1 {
  &:before {
    content: $hemato-sobrecancer-05-path1;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-05 .path2 {
  &:before {
    content: $hemato-sobrecancer-05-path2;
    margin-left: -1em;
    color: rgb(95, 173, 200);
  }
}
.hemato-sobrecancer-06 .path1 {
  &:before {
    content: $hemato-sobrecancer-06-path1;
    color: rgb(185, 222, 235);
  }
}
.hemato-sobrecancer-06 .path2 {
  &:before {
    content: $hemato-sobrecancer-06-path2;
    margin-left: -1em;
    color: rgb(95, 173, 200);
  }
}
.hemato-triangulito {
  &:before {
    content: $hemato-triangulito;
  }
}
.hemato-valores-01 .path1 {
  &:before {
    content: $hemato-valores-01-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-valores-01 .path2 {
  &:before {
    content: $hemato-valores-01-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-valores-02 .path1 {
  &:before {
    content: $hemato-valores-02-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-valores-02 .path2 {
  &:before {
    content: $hemato-valores-02-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-valores-03 .path1 {
  &:before {
    content: $hemato-valores-03-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-valores-03 .path2 {
  &:before {
    content: $hemato-valores-03-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}
.hemato-valores-04 .path1 {
  &:before {
    content: $hemato-valores-04-path1;
    color: rgb(184, 221, 234);
  }
}
.hemato-valores-04 .path2 {
  &:before {
    content: $hemato-valores-04-path2;
    margin-left: -1em;
    color: rgb(95, 172, 199);
  }
}