$icomoon-font-path: "../fonts/" !default;

$hemato-sarlaft: "\e94e";
$hemato-arrow-down: "\e900";
$hemato-arrow-left: "\e901";
$hemato-arrow-right: "\e902";
$hemato-arrow-up: "\e903";
$hemato-dauntupabajo: "\e904";
$hemato-derechos-01-path1: "\e905";
$hemato-derechos-01-path2: "\e906";
$hemato-derechos-02-path1: "\e907";
$hemato-derechos-02-path2: "\e908";
$hemato-derechos-03-path1: "\e909";
$hemato-derechos-03-path2: "\e90a";
$hemato-derechos-03-path3: "\e90b";
$hemato-derechos-03-path4: "\e90c";
$hemato-derechos-04-path1: "\e90d";
$hemato-derechos-04-path2: "\e90e";
$hemato-derechos-05-path1: "\e90f";
$hemato-derechos-05-path2: "\e910";
$hemato-derechos-06-path1: "\e911";
$hemato-derechos-06-path2: "\e912";
$hemato-derechos-07: "\e913";
$hemato-derechos-08: "\e914";
$hemato-derechos-09-path1: "\e915";
$hemato-derechos-09-path2: "\e916";
$hemato-derechos-10-path1: "\e917";
$hemato-derechos-10-path2: "\e918";
$hemato-derechos-11-path1: "\e919";
$hemato-derechos-11-path2: "\e91a";
$hemato-derechos-12-path1: "\e91b";
$hemato-derechos-12-path2: "\e91c";
$hemato-derechos-13-path1: "\e91d";
$hemato-derechos-13-path2: "\e91e";
$hemato-derechos-14-path1: "\e91f";
$hemato-derechos-14-path2: "\e920";
$hemato-derechos-15-path1: "\e921";
$hemato-derechos-15-path2: "\e922";
$hemato-derechos-16: "\e923";
$hemato-derechos-17-copia-path1: "\e924";
$hemato-derechos-17-copia-path2: "\e925";
$hemato-derechos-17-path1: "\e926";
$hemato-derechos-17-path2: "\e927";
$hemato-derechos-18-path1: "\e928";
$hemato-derechos-18-path2: "\e929";
$hemato-derechos-19-path1: "\e92a";
$hemato-derechos-19-path2: "\e92b";
$hemato-hemato-icon-path1: "\e92c";
$hemato-hemato-icon-path2: "\e92d";
$hemato-hemato-icon-path3: "\e92e";
$hemato-hemato-icon-path4: "\e92f";
$hemato-hemato-icon-path5: "\e930";
$hemato-hemato-icon-path6: "\e931";
$hemato-home: "\e932";
$hemato-principios-02-path1: "\e933";
$hemato-principios-02-path2: "\e934";
$hemato-principios-03-path1: "\e935";
$hemato-principios-03-path2: "\e936";
$hemato-principios-04-path1: "\e937";
$hemato-principios-04-path2: "\e938";
$hemato-sobrecancer-01-path1: "\e939";
$hemato-sobrecancer-01-path2: "\e93a";
$hemato-sobrecancer-02-path1: "\e93b";
$hemato-sobrecancer-02-path2: "\e93c";
$hemato-sobrecancer-03-path1: "\e93d";
$hemato-sobrecancer-03-path2: "\e93e";
$hemato-sobrecancer-04-path1: "\e93f";
$hemato-sobrecancer-04-path2: "\e940";
$hemato-sobrecancer-05-path1: "\e941";
$hemato-sobrecancer-05-path2: "\e942";
$hemato-sobrecancer-06-path1: "\e943";
$hemato-sobrecancer-06-path2: "\e944";
$hemato-triangulito: "\e945";
$hemato-valores-01-path1: "\e946";
$hemato-valores-01-path2: "\e947";
$hemato-valores-02-path1: "\e948";
$hemato-valores-02-path2: "\e949";
$hemato-valores-03-path1: "\e94a";
$hemato-valores-03-path2: "\e94b";
$hemato-valores-04-path1: "\e94c";
$hemato-valores-04-path2: "\e94d";