/*   ###COLORES###   */
$RedViolet: #C61371;
$DotsActive: #00A7E7;
$Blue1: #00B1CD;
$Blue2: #00ADCB;
$Blue3: #007A8F;
$Blue3Opacity: rgba(0, 122, 143, 0.9);
$Blue4: #186F7F;
$Black: #000;
$FooterBG1: rgba(52, 52, 52, 0.9);
$FooterBG2 : rgba(52,52,52,0.99);
$GeneralText: #575354;
$RrssBackground: #929292;
$Dots: #B0B0B0;
$SIdebar1: #F5F5F5;
$BorderBottom: #E1E1E1;
$Bread: #A6A6A6;
$DateTime: #ABABAB;
$White: #FFF;

/* ###MEDIAS### */
$M992: "screen and (max-width : 992px)" !default;
$E993-1120: "screen and (max-width: 1120px) and (min-width: 993px)" !default;