/*
Error: Undefined variable: "$noto-font-path".
        on line 4 of noto.scss

1: @font-face {
2:   font-family: "Noto Sans";
3:   src: local(Noto Sans Regular),
4:   url("#{$noto-font-path}NotoSans-Regular.ttf") format("ttf");
5:   font-weight: 400;
6: }
7: @font-face {
8:   font-family: "Noto Sans";
9:   src: local(Noto Sans Bold),

Backtrace:
noto.scss:4
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/string_interpolation.rb:93:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:173:in `perform_arg'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:124:in `_perform'
C:/Ruby187/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `map'
C:/Ruby187/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `each'
C:/Ruby187/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `enum_with_index'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:123:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:123:in `enum_with_index'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:123:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:123:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/funcall.rb:123:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:504:in `visit_directive'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:504:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:504:in `visit_directive'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:503:in `visit_directive'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:115:in `with_frame'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:169:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:52:in `parse'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/scss:13
C:/Ruby187/bin/scss:19:in `load'
C:/Ruby187/bin/scss:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$noto-font-path\".\A         on line 4 of noto.scss\A \A 1: @font-face {\A 2:   font-family: \"Noto Sans\";\A 3:   src: local(Noto Sans Regular),\A 4:   url(\"#{$noto-font-path}NotoSans-Regular.ttf\") format(\"ttf\");\A 5:   font-weight: 400;\A 6: }\A 7: @font-face {\A 8:   font-family: \"Noto Sans\";\A 9:   src: local(Noto Sans Bold),"; }
